<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/" class="<%= title === 'Home' ? 'active' : '' %>"
                    aria-current="<%= title === 'Home' ? 'page' : 'false' %>">Home</a></li>
            <li><a href="/organizations" class="<%= title === 'Our Partner Organizations' ? 'active' : '' %>"
                    aria-current="<%= title === 'Our Partner Organizations' ? 'page' : 'false' %>">Organizations</a>
            </li>
            <li><a href="/projects" class="<%= title === 'Service Projects' ? 'active' : '' %>"
                    aria-current="<%= title === 'Service Projects' ? 'page' : 'false' %>">Projects</a></li>
            <li><a href="/categories" class="<%= title === 'Service Project Categories' ? 'active' : '' %>"
                    aria-current="<%= title === 'Service Project Categories' ? 'page' : 'false' %>">Categories</a></li>
        </ul>
    </nav>